@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
body {
  background-color: #666666;
}

header {
  height: 50px;
  background-color: white;
  padding-left: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
}
.main {
  width: 80vw;
  margin: 50px auto;
  border-radius: 8px;
  background-color: white;
}

button {
  font-family: inherit;
  border: none;
  border-radius: 4px;
}

.buttons {
  display: flex;
}

.buttons__button {
  padding: 12px;
}
.buttons__button:hover {
  color: white;
  background-color: black;
}
