@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

body {
  background-color: #666666;
}

header {
  height: 48px;
  background-color: white;
  padding-left: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
}

h1 {
  font-weight: 700;
  font-size: 1.2rem;
}

table {
  width: 100%;
}
thead {
  background-color: #666666;
}
thead tr th {
  color: white;
}

thead tr th:last-child {
  background-color: white;
}
th,
td {
  padding: 8px;
  position: relative;
}

table tr {
  border-top: 2px solid transparent;
}

tbody tr:nth-child(odd) {
  background-color: #817f7f52;
}
tbody tr:nth-child(even) {
  background-color: #2b292952;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.92);
}

.main {
  width: 80vw;
  margin: 52px auto;
  padding: 4vw;
  border-radius: 8px;
  background-color: white;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  font-family: inherit;
  border: none;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
}

.buttons__button:hover {
  color: white;
  background-color: black;
}
.btn-primary {
  border-radius: 8px;
  padding: 8px;
  color: white;
}
.btn-primary:focus {
  box-shadow: none;
}

.table__button--modify {
  background-color: rgb(87, 105, 164);
}
.table__button--modify:hover {
  background-color: rgb(36, 76, 163);
}

.table__button--delete {
  background-color: rgb(197, 56, 56);
}
.table__button--delete:hover {
  background-color: rgb(196, 22, 22);
}

.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
.gender-box {
  display: flex;
  margin-bottom: 1rem;
}
.gender-radios {
  display: flex;
}
.gender-radio {
  margin: 0px 0.5rem;
}
input[type="radio"] {
  cursor: pointer;
}
label {
  margin-bottom: 1rem;
  margin-right: 0.2rem;
}

@media screen and (max-width: 600px) {
  table {
    /* width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap; */
  }
}
