<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}"/>
  <script type="text/javascript" src="/static/demo.js" defer></script>
  <title>個人資料表</title>
</head>
<body>
  <header class="header">NUEIP</header>
  <main class="main">
    <h1>個人資料表</h1>
    <div class="buttons">
      <button class="buttons__button">新增</button> 
      
      <button class="buttons__button">搜尋</button>
    </div>
  </main>
</body>
</html>