<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}"/>
  <script type="text/javascript" src="/static/demo.js" defer></script>
  <title>個人資料表</title>
</head>
<body>
  <header class="header">NUEIP</header>
  <main class="main">
    <h1>個人資料表</h1>
    <div class="buttons">
      <button class="buttons__button">新增</button> 
      <button class="buttons__button">搜尋</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>
            中文名字
          </th>
          <th>
            英文名字
          </th>
          <th>
            性別
          </th>
          <th>
            手機
          </th>
          <th>
            電子信箱
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>小明</td>
          <td>Ming</td>
          <td>M</td>
          <td>0912345678</td>
          <td>123@mail.com</td>
          <td>
            <button class="table__button table__button--modify">修改</button>
            <button class="table__button table__button--delete">刪除</button>
          </td>
        </tr>
        <tr>
          <td>小華</td>
          <td>Hua</td>
          <td>M</td>
          <td>0912345677</td>
          <td>456@mail.com</td>
          <td>
            <button class="table__button table__button--modify">修改</button>
            <button class="table__button table__button--delete">刪除</button>
          </td>
        </tr>
        <tr>
          <td>小每</td>
          <td>May</td>
          <td>F</td>
          <td>0912345679</td>
          <td>789@mail.com</td>
          <td>
            <button class="table__button table__button--modify">修改</button>
            <button class="table__button table__button--delete">刪除</button>
          </td>
        </tr>
        <tr>
          <td>小佳</td>
          <td>Chia</td>
          <td>F</td>
          <td>0912345645</td>
          <td>741@mail.com</td>
          <td>
            <button class="table__button table__button--modify">修改</button>
            <button class="table__button table__button--delete">刪除</button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</body>
</html>